@import "node_modules/bootstrap/scss/bootstrap";

/* GENERAL STYLE */

*{
  cursor: url(images/cursor1.png), auto;
}

body {
  position: relative;
}

img{
  max-width: 100%;
}

.display-4{
  text-align: center;
  padding: 30px;
  padding-top: 70px;
}

/* E/O GENERAL STYLE */


/* NAV */

.navbar__ul{
  width: 100%;
}

.nav-item{
  margin-right: 20px;
  &:first-child{
    margin-right: auto;
  }
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #565c62;
}

@media (max-width: 840px){
  .navbar__ul{
    justify-content: space-around;
  }
  .nav-item{
    margin: 1px auto 1px;
    &:first-child{
      margin: 1px auto 1px;
    }
  }
}

@media (max-width: 575px) {
  .nav-item{
    border-top: 1px solid gray;
    &:first-child{
      border: none;
    }
  }
}

/* E/O NAV */

/* HEADER */

.carousel-item{
  height: 100vh;
}

.slide{
  height: 100vh;
  color: white;
  &--first{
    background: url(images/carousel/hogwarts.jpg) no-repeat center 10%;
    & .display-1{
      text-transform: uppercase;
      letter-spacing: 15px;
      font-size: 10vw;
    }
  }
  &--second{
    background: url(images/carousel/hogwarts1.jpg) no-repeat center 10%;
    & p{
      margin: 7vw;
      font-size: 2.5vw;
    }
  }
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
}

.carousel-control-prev{
  opacity: 1;
  background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  &:hover{
    background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,8) 100%);
  }
}

.carousel-control-next{
  opacity: 1;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  &:hover{
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,8) 100%);
  }
}

@media (max-width: 740px) {
  .slide{
    &--first{
      background: url(images/carousel/hogwartsMD.jpg) no-repeat center top;
      & .display-1{
        margin-top: 30vw;
        font-size: 44px;
        letter-spacing: 4px;
      }
    }
    &--second{
      background: url(images/carousel/hogwarts1MD.jpg) no-repeat center top;
      & p{
        margin: auto auto 15vh;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 740px) and (orientation: portrait) {
  .slide{
    &--first{
      background: url(images/carousel/hogwartsSM.jpg) no-repeat top;
      & .display-1{
        margin-top: 30vh;
      }
    }
    &--second{
      background: url(images/carousel/hogwarts1SM.jpg) no-repeat center;
      & p{
        margin-top: 30vh;
        font-size: 14px;
      }
    }
  }
}

/* E/O HEADER */


/* ABOUT SECTION */

.about{
  &__title{
    text-align: center;
    padding: 14%;
    padding-bottom: 20px;
  }
  &__content{
    padding: 8%;
  }
}

@media (max-width: 475px) {
  .about__title{
    font-size: 44px;
    margin: 50px auto;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

/* E/O ABOUT SECTION */


/* HOUSES SECTION */

.houses{
  &__discription{
    text-align: justify;
    padding: 60px;
    margin: 10px;
  }
  &__img{
    filter: opacity(50%);
    &:hover{
      cursor: pointer;
      filter: opacity(70%);
    }
  }
}

.active .houses__img{
  filter: opacity(100%);
}

.tab-pane p{
  text-align: justify;
}

.span-bold{
  font-weight: bold;
}

.span-scarlet{
  color: #700519;
}

.span-gold{
  color: gold;
}

.span-yellow{
  color: #f4e300;
}

.span-blue{
  color: #002072;
}

.span-broze{
  color: #562700;
}

.span-green{
  color: green;
}

.span-silver{
  color: gray;
}

@media (max-width: 767px) {
  .houses__discription{
    padding: 10px;
    margin-bottom: 15px;
  }
  .tab-pane p{
    text-align: center;
    margin: 15px;
    &:last-child{
      margin-bottom: 65px;
    }
  }
}

@media (max-width: 460px) {
  .tab-pane .display-4{
    padding: 0;
    margin: 30px auto;
    font-size: 32px;
  }
}

/* E/O HOUSES SECTION */

/* STUDY SECTION */

.subjects{
  & .card{
   border: 5px;
   margin-bottom: 25px;
   padding: 25px;
   &-img-top{
     border-radius: 50%;
     padding: 15px;
     padding-bottom: 0;
     filter: opacity(70%);
     &:hover{
       filter: opacity(100%);
     }
   }
   &-text{
     text-align: center;
   }
   &__img{
     position: relative;
   }
  }
  & .btn{
    position: absolute;
    top: 70%;
    left: calc(50% - 51px);
  }
}

@media (max-width: 767px) {
  .subjects{
    & .card{
      padding: 25px;
    }
  }
}

.staff{
  & .card{
    border: 1px solid #666;
    &-header{
      padding: 0;
      margin: 0;
    }
  }
  & p{
    text-align: justify;
  }
  & .card-body > .quote{
    text-align: center;
    padding: 10px 100px;
    margin: auto;
  }
  & .btn-link{
    display: block;
    text-align: center;
    width: 100%;
    padding: 15px;
    color: #08054c;
    background-color: rgba(244, 235, 66, 0.4);
    white-space: normal;
  }
  & .btn-link:hover{
    background-color: rgba(244, 235, 66, 0.7);
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .staff{
    & .card-body > .quote{
      padding: 10px;
    }
    & .btn-link{
      font-size: 14px;
    }
    & .member{
      &__img{
        padding-bottom: 10px;
      }
      &__discription{
        font-size: 14px;
      }
    }
    & .text-info{
      font-size: 12px;
    }
  }
}

.exams{
  &__examTitle{
    text-align: center;
  }
  &__disription{
    text-align: justify;
    padding: 40px;
  }
}

@media (max-width: 450px) {
  .exams__disription{
    padding: 14px 10px;
    font-size: 13px;
  }
}

/* E/O STUDY SECTION */

/* MODAL */

.modal{
  &-header{
    background-color: rgba(244, 235, 66, 0.6);
  }
  &-title{
    font-weight: bolder;
  }
  &-par{
    padding: 8px;
    text-align: justify;
  }
}

.list-item{
  list-style-type: circle;
}

/* E/O MODAL*/

/* PARALLAX */

.parallax{
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  margin: 8vw 0 13vw;
  &--houses{
    background-image: url('images/parallax/houses.jpg');
  }
  &--study{
    background-image: url('images/parallax/study.jpg');
  }
  &--contact{
    background-image: url('images/parallax/contact.jpg');
  }
  & .parallax__title{
    position: absolute;
    bottom: -9vw;
    width: 100%;
    text-align: right;
    color: rgba(244, 235, 66, 0.6);
    text-transform: uppercase;
    padding-right: 50px;
    font-size: 22vw;
    &:last-child{
      font-size: 17vw;
    }
  }
}

@media (max-width: 1200px) {
  .parallax{
    &--houses{
      background-image: url('images/parallax/housesL.jpg');
    }
    &--study{
      background-image: url('images/parallax/studyL.jpg');
    }
    &--contact{
      background-image: url('images/parallax/contactL.jpg');
    }
  }
}

@media (max-width: 767px) {
  .parallax{
    height: 400px;
    margin-bottom: 20vw;
    &--houses{
      background-image: url('images/parallax/housesMD.jpg');
    }
    &--study{
      background-image: url('images/parallax/studyMD.jpg');
    }
    &--contact{
      background-image: url('images/parallax/contactMD.jpg');
    }
    & .parallax__title{
      top: 100px;
      text-align: center;
      padding: 0;
      color: #fff;
      letter-spacing: 3px;
    }
  }
}

@media (max-width: 627px) {
  .parallax{
    height: 300px;
  }
}

/* E/O PARALLAX */

/* ADDRESS */

.address{
  width: 40vw;
  margin: 8vw auto;
  padding: 5vw;
  border: 1px solid #202020;
  border-radius: 6px;
  font-size: 1.5vw;
}

.contact__container{
  padding: 2vw;
}

@media (max-width: 1167px) {
  .address{
    font-size: 18px;
    width: 400px;
    padding: 2vw;
  }
}

@media (max-width: 767px) {
  .contact .display-4{
    padding: 10px 20px;
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .address{
    width: 92vw;
    font-size: 14px;
    border: none;
    & p{
      margin: 0;
      padding: 5px 2px;
    }
  }
}

/* E/O ADDRESS */

/* FOOTER */

.footer p{
  margin: 0;
  margin-top: 10px;
  padding: 20px;
}

/* E/O FOOTER */

/* PRELOADER */

.preloader {
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    &__spinner{
      width: 100px;
      height: 100px;
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      animation: ease-in-out spinner 7s infinite;
      transform-origin: 50%;
      border-radius: 50%;
      &::before, &::after{
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
      &::after{
        background-color: rgb(244, 235, 66);
        bottom: 0;
        right: 0;
      }
      &::before{
        background-color: rgb(244, 113, 66);
        top: 0;
        left: 0;
      }
    }
}

@keyframes spinner {
  100% {
      transform: rotate(1440deg);
    }
}

/* E/O PRELOADER */
